<template>
    <div>
        <h1>Error is here BOI</h1>
        <h6>Back to <a href="/">Main page</a></h6>
    </div>
</template>

<style scoped>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        background-color: #aaa;
        border-radius: 10px;
        color: red;
        text-transform: uppercase;
    }
</style>