<template>
    <div class="home-page">
        <section class="featured-posts">
            
        </section>
    </div>
</template>

<script>
    export default {
        computed: {
            loadedPosts(){
                return this.$store.getters.loadedPosts;
            }
        }
    }
</script>

<style scoped>

.intro {
    height: 300px;
    position: relative;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url('https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center 70%;
    -webkit-background-size: cover;
    background-size: cover;
    
}
.intro h1 {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    font-size: 1.5rem;
    color: black;
    background-color: rgb(211, 211, 211);
    padding: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 3px 3px 3px black;
    -moz-box-shadow: 3px 3px 3px black;
    box-shadow: 3px 3px 3px black;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid black;
}
@media (min-width: 768px) {
    .intro h1 {
        font-size: 2rem;
    }
}
.featured-posts {
    display: flex;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
</style>