<template>
    <div class="single-profile-page">
        <section class="profile">
            <div class="user-details">
                <div class="user-detail">Имя: </div>
                <div class="user-detail">Фамилия: </div>
                <div class="user-detail">Отчество: </div>
                <div class="user-detail">Баланс: </div>
            </div>
            <p class="user-content"></p>
        </section>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        beforeMount() {
            console.log(this.$route.params.id)
            this.$store.dispatch('getUserInfo', {id: this.$route.params.id})
        },
        head: {
            title: 'Blog post'
        }
    }
</script>

<style scoped>
    .single-profile-page {
        padding: 30px;
        text-align: center;
        box-sizing: border-box;
    }
    .profile {
        width: 100%;
    }
    @media (min-width: 768px) {
        .post {
            width: 600px;
            margin: auto;
        }
    }
    .profile-title {
        margin: 0;
    }
    .user-details {
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    @media (min-width: 768px) {
        .post-details {
            flex-direction: row;
        }
    }
    .user-detail {
        color: rgb(88,88,88);
        margin: 0 10px;
    }
    .user-feedback a {
        color: red;
        text-decoration: none;
    }
    .user-feedback a:hover,
    .user-feedback a:active {
        color: salmon;
    }
</style>


